<div id="adding-window-bg" style="display: none;">
    <div id="adding-window">
        <img src="" alt="Фото" id="add-window-product-image">
        <p id="add-window-product-name"></p>
        <p id="productPriceLabel"></p>
        <div>
            <button type="button" id="decrementAddingWindowВtn">-</button>
            <p id="productCountLabel">1</p>
            <button type="button" id="incrementAddingWindowВtn">+</button>
        </div>
        <button type="button" id="addingProductButton">Добавить в корзину</button>
    </div>
</div>

