<div id="black-shopping-cart-bg" style="display: none;" class="curtain-bg">
    <div id="shopping-cart" class="curtain-container">
        <div class="curtain-header">
            <h2>Ваш заказ</h2>
            <button type="button" id="close-cart-button">x</button>
        </div>

        <div id="shoping-cart-products-block" class="curtain-product-block"></div>
        <p id="shoping-cart-price-p">Итого 240 р</p>
        <button type="button" id="shoping-cart-order-button">Оформить заказ</button>
    </div>
</div>

