<div id="user-profile-bg" style="display: none;">
    <div id="user-profile-body">
        <aside class="sidebar">
            <div class="user-info">
                <h1 id="user-profile-user-name" class="user-name"></h1>
       
            </div>
            <div class="action-buttons">
                <button id="user-profile-exit-account-btn" class="action-button exit-button">
                    <span class="action-text">Выйти</span>
                </button>
                
            </div>
        </aside>

        <main class="main-content">
            <h2 class="section-title">Заказы</h2>
            <div class="tabs-container">
                <button id="active-order-section-btn" class="tab active">Активные</button>
                <button id="history-order-section-btn" class="tab">История заказов</button>
            </div>

            <div class="orders-section">
                <div class="active-orders-container"></div>

                <div class="history-orders-container"></div>
            </div>
        </main>
    </div>
</div>