<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="lisiks">
    <meta name="description" content="Cайт пекарни '67 Вкусов'">
    <meta name="keywords" content="Пекарня Выпечка Булка Купить Заказать Торты Пироженные Хлебница Хлеб">
    <title>{{ tittle }}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', path='StaticImages/header_image.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/styles.css') }}">
</head>
<body>
    <header>
        <div id="header-text-section">
            <img src="{{ url_for('static', path='StaticImages/header_image.png')}}" alt="Изображение выпечки">
            <h1>67 VKUSOV</h1>
            <button type="button" id="shopping-cart-button"></button>
        </div>

        <div id="header-menu-section">
            <a href="#c1">Выпечка</a>
            <a href="#c2">Десерты</a>
            <a href="#c3">Торты</a>
            <a href="#footer-block">Контакты</a>
            <a href="#">Профиль</a>
            <a href="#">Избранные товары</a>
            <a href="#">О компании</a>
            <a href="#">FAQ</a>
        </div>
    </header>
    <main>

    </main>

    <footer id="footer-block">
        <h2>Контакты</h2>
        <p>Остались вопросы? Отправьте нам сообщение!</p>

        <div id="footer-contacts">
            <div id="footer-contacts-info">
                <h2>+7(999)-999-99-99</h2>
                <p>Г.Киров, Ул.Труда 45</p>
                <p>Г.Киров, Ул.Московская 7</p>
                <p>Г.Киров, Ул.Ленина 67</p>
                <div id="footer-contacts-info-messangers">
                    <a href="#" target="_blank" id="vk-a"></a>
                    <a href="#" target="_blank" id="tg-a"></a>
                    <a href="#" target="_blank" id="whatsapp-a"></a>
                </div>
            </div>

            <form action="#" method="post" id="footer-contacts-form">
                <input type="text" name="user-name" required maxlength="50" placeholder="Имя:">
                <input type="email" name="user-email" required placeholder="Еmail:">
                <input type="text" name="message-theme" required maxlength="100" placeholder="Тема сообщения:">
                <textarea name="message-text" required></textarea>
                <button type="submit">Отправить</button>
            </form>

        </div>
    </footer>
</body>
</html>