<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="lisiks">
    <meta name="description" content="Cайт пекарни '67 Вкусов'">
    <meta name="keywords" content="Пекарня Выпечка Булка Купить Заказать Торты Пирожные Хлебница Хлеб">
    <link rel="icon" type="image/png" href="{{ url_for('static', path='StaticImages/header_image.png') }}">
    {% block page_title %}
    {% endblock %}
    {% block page_css %}
    {% endblock %}
</head>
<body>
    <header>
        <div id="header-text-section">

            <div id="header-company-name-container">
                <img src="{{ url_for('static', path='StaticImages/header_image.png')}}" alt="Изображение выпечки">
                <h1>67 VKUSOV</h1>
            </div>

            <div id="header-navigate-buttons-container">
                <button type="button" id="liked-products-button"></button>
                <button type="button" id="shopping-cart-button"></button>
                <button type="button" id="in-account-button"></button>
            </div> 
        </div>

        <div id="header-menu-section">
            {% for category in categories %}
                <a target="_self" href="{{domain + 'site/catalog' + '#category-' + category['id'] | string }}">{{category['category_name']}}</a>
            {% endfor %}
            <a target="_self" href="{{domain + 'site/about/'}}">О компании</a>
            <a target="_self" href="{{domain + 'site/faq/'}}">FAQ</a>
            <a href="#footer-block">Контакты</a>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer id="footer-block">
        <h2>Контакты</h2>
        <p>Остались вопросы? Отправьте нам сообщение!</p>

        <div id="footer-contacts">
            <div id="footer-contacts-info">
                <h2>+7(999)-999-99-99</h2>
                {% for branch in branches %}
                    <p>{{ branch['branches_address'] }}, {{branch['branches_phone']}}</p>
                {% endfor %}
                <div id="footer-contacts-info-messangers">
                    <a href="https://vk.com/club237286675" target="_blank" id="vk-a"></a>
                    <a href="https://t.me/+c69XBY-xTfJhMTky" target="_blank" id="tg-a"></a>
                    <a href="https://chat.whatsapp.com/HhAI0ZUscv51ZVXLkDTENl" target="_blank" id="whatsapp-a"></a>
                </div>
            </div>

            <div id="footer-contacts-form">
                <input type="text" id="user-name-support" maxlength="50" placeholder="Имя:" readonly onfocus="this.removeAttribute('readonly')">
                <input type="email" id="user-email-support" placeholder="Еmail:" readonly onfocus="this.removeAttribute('readonly')">
                <input type="text" id="message-theme-support" maxlength="100" placeholder="Тема сообщения:" readonly onfocus="this.removeAttribute('readonly')">
                <textarea id="message-text-support"></textarea>
                <button type="button" id="send-support-mail-btn">Отправить</button>
            </div>

        </div>
    </footer>


    {% block page_windows %}
    {% endblock %}


    {% block page_js %}
    {% endblock %}
</body>
</html>