{% extends 'base_template.html' %}

{% block page_title %}
    <title>FAQ</title>
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/base_template_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/curtain_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/account.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/faq_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/add_product_window_styles.css') }}">
{% endblock %}

{% block content %}

    
    <h2 id="h2-header">FAQ</h2>
    
    <div class="questions">
        <details class="custom-details" >
            <summary>Для чего нужен аккаунт?</summary>
            <div class="questions-text">Аккаунт необходим для оформления покупок. Без регистрации совершать заказы на нашем сайте не получится.</div>
        </details>

        <details class="custom-details">
            <summary>Как оформить заказ?</summary>
            <div class="questions-text">После добавления всех желаемых товаров в корзину, нажмите кнопку оформления заказа, находящуюся там же, и в открывшемся окне заполните всю необходимую для заказа информацию.</div>
        </details>

        <details class="custom-details">
            <summary>Как отменить заказ?</summary>
            <div class="questions-text">Заказ можно отменить только если он был совершен недавно, то есть имеет статус оформленного. В случае, если заказ уже поменял статус и находится в сборке, отменить его уже не получится. Для отмены заказа перейдите в профиль пользователя, там находится история заказов. На необходимом заказе во вкладке активных заказов нажмите кнопку отмены.</div>
        </details>

        <details class="custom-details">
            <summary>Как добавить товар в избранное?</summary>
            <div class="questions-text">Для добавления в избранное на каждом товаре расположена кнопка избранного. Если вам понравился какой-либо товар, нажимте эту кнопку.</div>
        </details>
    </div>
    
    <p class="undersign">Если Вы не нашли ответа на свой вопрос, Вы можете задать его в письме для поддержки по данной почте</p>
    

{% endblock %}




{% block page_windows %}
    {% include '_add_product_window.html' %}
    {% include '_account.html' %}
    {% include '_liked_products.html' %}
    {% include '_shopping_cart.html' %}
{% endblock %}

{% block page_js %}
    <script type="module" src="{{ url_for('static', path='JS/fag_page_init.js')}}"></script>
{% endblock %}
