{% extends 'base_template.html' %}

{% block page_title %}
    <title>Пекарня 67 вкусов: Каталог</title>
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/base_template_styles.css') }}">
{% endblock %}

{% block menu_links %}
    {% for category in categories %}
        <a target="_self" href="#{{'category-' + category['id'] | string }}">{{category['category_name']}}</a>
    {% endfor %}
    <a href="#footer-block">Контакты</a>
    <a href="#">Профиль</a>
    <a href="#">Избранные товары</a>
    <a href="#">О компании</a>
    <a href="#">FAQ</a>
{% endblock %}

{% block content %}
    {% for category in categories %}
        <div id="{{'category-' + category['id'] | string }}" class="category-block">
            <h2>{{ category['category_name'] }}</h2>
            <div class="product-container"></div>
        </div>
    {% endfor %}
{% endblock %}

{% block branch_contacts %}
    {% for branch in branches %}
        <p>{{ branch['branches_address'] }}, {{branch['branches_phone']}}</p>
    {% endfor %}
{% endblock %}