{% extends 'base_template.html' %}

{% block page_title %}
    <title>Пекарня 67 вкусов: Каталог</title>
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/base_template_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/index_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/add_product_window_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/curtain_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/account.css') }}">
{% endblock %}




{% block content %}
    <div class="content">
    {% for category in categories %}
        <div id="{{'category-' + category['id'] | string }}" class="category-block">
            <h2>{{ category['category_name'] }}</h2>
            <div class="product-container"></div>
        </div>
    {% endfor %}
    </div>
{% endblock %}



{% block page_windows %}
    {% include '_add_product_window.html' %}
    {% include '_shopping_cart.html' %}
    {% include '_account.html' %}
    {% include '_liked_products.html' %}
{% endblock %}

{% block page_js %}
    <script type="module" src="{{ url_for('static', path='JS/index_init.js')}}"></script>
{% endblock %}