{% extends 'base_template.html' %}

{% block page_title %}
    <title>{{ product['name'] }}</title>
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/base_template_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/product_styles.css') }}">
{% endblock %}

{% block menu_links %}
    {% for category in categories %}
        <a target="_self" href="#{{'category-' + category['id'] | string }}">{{category['category_name']}}</a>
    {% endfor %}
    <a href="#footer-block">Контакты</a>
    <a href="#">Профиль</a>
    <a href="#">Избранные товары</a>
    <a href="#">О компании</a>
    <a href="#">FAQ</a>
{% endblock %}

{% block content %}
<div id="content">
    <div id="photo-section">
        <img src="{{ product['image_url'] }}" alt="Фото 1">
    </div>
     
    <div class="text-section">
        <h2>{{ product['name'] }}</h2>

        <p class="istok-web">{{ product['sale_price'] }} р&nbsp&nbsp&nbsp<span class="gray-text">{{ product['weight'] }} г</span></p>
        <p class="wix-madefor-text"><span class="gray-text">{{ product['category_name'] }}</span></p>

        <div id="product-activity-buttons">
            <button type="button" id="in-cart-button">Добавить в корзину</button>
            <button type="button" id="liked-button"></button>
        </div>

        <p class="gray-underline wix-madefor-text">Описание: {{ product['description'] }}</p>
         
        <p class="gray-underline wix-madefor-text">Состав: {{ product['composition'] }}</p>
           
        <div class="text-section-energy gray-underline wix-madefor-text">Энергетическая ценность:
            <p>Белков — {{ product['protein'] }} г</p>
            <p>Жиров — {{ product['fat'] }} г</p>
            <p>Углеводов — {{ product['carbs'] }} г</p>
            <p>Калорийность — {{ product['calories'] }} ккал</p>
        </div>
    </div>
</div>
{% endblock %}

{% block branch_contacts %}
    {% for branch in branches %}
        <p>{{ branch['branches_address'] }}, {{branch['branches_phone']}}</p>
    {% endfor %}
{% endblock %}

{% block page_js %}
    <script src="{{ url_for('static', path='JS/base_scripts.js')}}"></script>
{% endblock %}
