@font-face {
    font-family: "Brusher";
    src: url("../Fonts/Brusher.ttf");
    font-display: swap;
}


@font-face {
    font-family: "Istok Web";
    src: url("../Fonts/IstokWeb-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Wix Madefor Text";
    src: url("../Fonts/WixMadeforDisplay-Regular.ttf");
    font-display: swap;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:root {
    --dark-brown-color: #3A0F00;
    --normal-browm-color: #BC9974;
    --header-background-color: #FFF3DB;

    --h1-font-size: calc(18px + 0.7vw);
    --h2-font-size: calc(14px + 0.7vw);
    --normal-font-size: calc(9px + 0.7vw);
    --small-font-size: calc(2px + 0.7vw);

    --transition-settings: all 0.3s 0s ease-in-out;
    scroll-behavior: smooth;
    scroll-padding-top: calc(100px + 10vh); 
}

/* .hidden-element {
    display: none;
} */

body {
    min-height: 100vh;
}


/* -----------------------------------------------------------------Заголовок----------------------------------------------------------------*/

header {
    position: sticky;
    z-index: 2;
    left: 0px;
    top: 0px;

    padding: 20px 40px 0px 40px;

    background-color: var(--header-background-color);
}


#header-text-section {
    position: relative;

    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: "Brusher";
    font-size: var(--h1-font-size);
    color: var(--dark-brown-color);
    letter-spacing: 2px;
    border-bottom: 2px solid var(--dark-brown-color);
}

#header-text-section > img {
    width: calc(40px + 3vw);
}

#shopping-cart-button {
    position: absolute;
    right: 10px;

    width: calc(20px + 3vw);
    height: calc(20px + 3vw);

    border: none;
    background-color: var(--header-background-color);
    background-image: url("../StaticImages/shoping_card_button_image.png");
    background-position: center;
    background-size: cover;

    transition: var(--transition-settings);
}


#shopping-cart-button:hover {
    transform: scale(1.2);
}



#header-menu-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#header-menu-section > a {
    padding: 10px;

    font-family: "Istok Web";
    color: var(--dark-brown-color);
    font-size: var(--normal-font-size);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    
    transition: all 0.3s 0s ease-in-out;
}

#header-menu-section > a:hover {
    transform: scale(1.1);
    text-decoration: underline solid;
}

/* ------------------------------------------------------------------Основная часть----------------------------------------------- */

main {
    z-index: 1;
    min-height: 50vh;
}

/* -----------------------------------------------------------------Подвал----------------------------------------------------------------*/

footer {
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    padding: 10px;

    background-color: var(--normal-browm-color);
    font-family: "Wix Madefor Text";
    color: var(--dark-brown-color);
}

footer > h2, #footer-contacts-info > h2 {
    font-size: var(--h2-font-size);
}

footer > p, #footer-contacts-info > p {
    font-size: var(--normal-font-size);
}

#footer-contacts {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

#footer-contacts-info > *{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 10px;
}


#footer-contacts-info-messangers {
    display: flex;
    flex-direction: row;
    gap: 6px;
}


#footer-contacts-info-messangers > a {
    display: block;
    width: calc(40px + 3vw);
    height: calc(40px + 3vw);
    
    background-position: center;
    background-size: cover;

    transition: var(--transition-settings);
}


#vk-a {
    background-image: url("../StaticImages/vk_image.png");
}

#tg-a {
    background-image: url("../StaticImages/tg_image.png");
}

#whatsapp-a {
    background-image: url("../StaticImages/vs_image.png");
}


#footer-contacts-info-messangers > a:hover {
    transform: scale(1.1);
}


#footer-contacts-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
}

#footer-contacts-form > input {
    width: calc(150px + 30vw);
    height: 60px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--header-background-color);
    color: var(--dark-brown-color);
    font-size: var(--normal-font-size);

    transition: var(--transition-settings);
}

#footer-contacts-form > textarea {
     width: calc(150px + 30vw);
    height: 350px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--header-background-color);

    color: var(--dark-brown-color);
    font-size: var(--normal-font-size);
    resize: none;
    transition: var(--transition-settings);
}

#footer-contacts-form > button {
    align-self: flex-start;

    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--dark-brown-color);

    color: var(--header-background-color);
    font-size: var(--normal-font-size);
    transition: var(--transition-settings);
    cursor: pointer;
}


#footer-contacts-form > input::placeholder {
    color: var(--normal-browm-color);
}

#footer-contacts-form > input:hover, #footer-contacts-form > textarea:hover,
#footer-contacts-form > input:focus, #footer-contacts-form > textarea:focus {
    transform: scale(1.01);
}

#footer-contacts-form > button:hover {
    transform: scale(1.05)
}


/*------------------------------------------------------------Боковая панель-----------------------------------------------------------*/


#aside-block {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.3);
    transition: var(--transition-settings);
}

#aside-panel {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 4;

    width: calc(250px + 15vw);
    height: 100vh;

    background-color: white;
    transition: var(--transition-settings);
}

.hidden-block {
    display: none;
}


